body, html {
	height: 100%;
	margin: 0;
}

.background {
	background-image: url("img/placeholderOptimized.jpg");
	height: 100%;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}

.placeholderText {
	position: absolute;
	left: 0;
	top: 35%;
	text-align: center;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

h2 {
	color: white;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: bold;
	text-shadow: 4px 4px black;
}

p, a {
	color: white;
	text-shadow: 1px 1px black;
	text-decoration: none;
}